::ng-deep {
  .fd-investments-list {
    .p-card-content {
      padding: 0px;
    }
    tr.investment-status {
      font-size: 0.5x;
    }
  }
  .pi-verified {
    font-size: 1.5rem;
    color: blue;
  }
  .pi-times-circle {
    font-size: 1.5rem;
    color: red;
  }
}
