<p-card class="investment">
  <div class="grid">
    <div class="col-5">
      <h2>Total Amount: 1,00,00,000</h2>
    </div>
    <div class="col-5">
      <h2>Funded Amount: 50,00,000</h2>
    </div>
    <div class="col-2">
      <h2>Funded: 50%</h2>
    </div>
  </div>
  <hr />
  <br />
  <p-table
    [value]="investmentList"
    dataKey="investment_id"
    [rows]="limit"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    styleClass="p-datatable-customers p-datatable-gridlines"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  >
    <ng-template pTemplate="caption">
      <p-multiSelect
        optionLabel="header"
        selectedItemsLabel="{0} columns selected"
        [style]="{ minWidth: '270px' }"
        placeholder="Status Filter"
      ></p-multiSelect>
      <p-multiSelect
        optionLabel="header"
        selectedItemsLabel="{0} columns selected"
        [style]="{ minWidth: '270px', 'margin-left': '2rem' }"
        placeholder="Investment Type Filter"
      ></p-multiSelect>
      <p-multiSelect
        optionLabel="header"
        selectedItemsLabel="{0} columns selected"
        [style]="{ minWidth: '250px', 'margin-left': '2rem' }"
        placeholder="Sort By"
      ></p-multiSelect>
      <p-button
        label="Clear Filter"
        class="clear"
        [style]="{
          minWidth: '250px',
          'margin-left': '2rem',
          'background-color': 'white',
          color: 'black'
        }"
      ></p-button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Amount</th>
        <th>Invested_on</th>
        <th>Type</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-investment>
      <tr>
        <td>{{ investment.investment_id }}</td>
        <td>{{ investment.user_id }}</td>
        <td>{{ investment.amount | number: '1.0-2' }}</td>
        <td>{{ investment.created_on | date }}</td>
        <td>{{ investment.type }}</td>
        <td>{{ investment.status }}</td>
        <td>
          <button
            pButton
            type="button"
            icon="pi pi-ellipsis-v"
            class="p-button-text p-button-sm"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No investments found.</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
