<app-header></app-header>
<p-tabMenu [model]="items"></p-tabMenu>
<div style="display: flex; justify-content: flex-start">
    <p-button label="Positions" class="clear" [style]="{
      minWidth: '100%',
      'background-color': 'white',
      color: 'black',
      margin: '2rem 2rem 0 2rem'
    }"></p-button>
    <p-button label="Holdings" class="clear" [style]="{
      minWidth: '80%',
      'background-color': 'white',
      color: 'black',
      margin: '2rem 2rem 0 5rem'
    }"></p-button>
</div>

<div class="card-container">
    <div class="mycard left-card">
        <p-card header="Current">
            <p class="m-0" style="color: green; font-size: 30px"><b>₹ 34.6K</b></p>
        </p-card>
    </div>
    <div class="mycard right-card">
        <p-card header="Invested">
            <p class="m-0" style="color: gray; font-size: 30px"><b>₹ 30.50K</b></p>
        </p-card>
    </div>
</div>

<div class="table">
    <p-table [value]="assests" [paginator]="true" [rows]="4" class="ipo-table">
        <ng-template pTemplate="header">
            <tr>
                <th>Symbol</th>
                <th>Company Logo</th>
                <th>Company Name</th>
                <th>Invested</th>
                <th>Current</th>
                <th>Change (%)</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-assest>
            <tr>
                <td>{{ assest.assetSymbol }}</td>
                <td>
                    <img src="https://assets-netstorage.groww.in/stock-assets/logos/GSTK539254.png" alt="Company Logo" style="width: 20%" />
                </td>
                <td>
                    <b>{{ assest.assetName }}</b>
                </td>
                <td>₹ {{ assest.assetPrice }}</td>
                <td><b>₹ 200.67</b></td>
                <td [ngClass]="{
            'change-percentage-positive': 1 > 0,
            'change-percentage-negative': -1 < 0
          }">
                    {{ assest.assetType }} %
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>