<app-header></app-header>
<p-tabMenu [model]="items"></p-tabMenu>
<div style="display: flex; justify-content: flex-start">
    <p-button label="Positions" class="clear" [style]="{
      minWidth: '100%',
      'background-color': 'white',
      color: 'black',
      margin: '2rem 2rem 0 2rem'
    }"></p-button>
    <p-button label="Holdings" class="clear" [style]="{
      minWidth: '80%',
      'background-color': 'white',
      color: 'black',
      margin: '2rem 2rem 0 5rem'
    }"></p-button>
</div>

<div class="card-container">
    <div class="mycard left-card">
        <p-card header="Current">
            <p class="m-0" style="color: green; font-size: 30px"><b>₹{{currentAmount}}</b></p>
        </p-card>
    </div>
    <div class="mycard right-card">
        <p-card header="Invested">
            <p class="m-0" style="color: gray; font-size: 30px"><b>₹ {{investedAmount}}</b></p>
        </p-card>
    </div>
</div>

<div class="table">
    <p-table [value]="assests" [paginator]="true" [rows]="4" class="ipo-table">
        <ng-template pTemplate="header">
            <tr>
                <th>Company Logo</th>
                <th>Company Name</th>
                <th>Quantity</th>
                <th>Buy Price</th>
                <th>Latest Traded Price</th>
                <th>current Price </th>
                <th>P/L</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-asset>
            <tr>
                <td>
                    <img src="https://assets-netstorage.groww.in/stock-assets/logos/GSTK539254.png" alt="Company Logo" style="width: 20%" />
                </td>
                <td>
                    <b>{{ asset.assetName }}</b>
                </td>
                <td>
                    <b>{{ asset.assetQuantity }}</b>
                </td>
                <td>₹ {{ asset.assetPrice }}</td>
                <td>
                    {{ asset?.currentPrice }} 
                </td>
                <td><b>₹ {{(asset.currentPrice * asset?.assetQuantity) }}</b></td>
                <td  [ngClass]="{
                    'change-percentage-positive': (asset?.assetPrice  - asset?.currentPrice) >= 0,
                    'change-percentage-negative': (asset?.assetPrice  - asset?.currentPrice) < 0
                  }">{{(asset?.assetPrice  - asset?.currentPrice).toFixed(2)}}</td>
                <td><button (click)="sellAsset(asset._id)" class="sell-btn">Sell</button></td>
            </tr>
        </ng-template>
    </p-table>
</div>

