<app-header></app-header>

<div class="ipo-list">
  <div class="title"><h1>All watchlists</h1></div>

  <div class="controls">
    <div class="filter-input">
      <input pInputText type="text" placeholder="Filter by Symbol" />
    </div>
    <div class="sort-dropdown">
      <p-dropdown [options]="sortOptions" placeholder="Sort by"></p-dropdown>
    </div>
  </div>

  <p-table [value]="watchlist" [paginator]="true" [rows]="4" class="ipo-table">
    <ng-template pTemplate="header">
      <tr>
        <th>Symbol</th>
        <th>Company Logo</th>
        <th>Company Name</th>
        <th>Price</th>
        <th>Change (%)</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-watchlist>
      <tr>
        <td>{{ watchlist.number }}</td>
        <td>
          <img
            src="https://assets-netstorage.groww.in/stock-assets/logos/GSTK532540.png"
            alt="Company Logo"
            style="width: 20%"
          />
        </td>
        <td>{{ watchlist.stockSymbol }}</td>
        <td>{{ watchlist.userId }}</td>
        <td
          [ngClass]="{
            'change-percentage-positive': watchlist.changePercentage > 0,
            'change-percentage-negative': watchlist.changePercentage < 0
          }"
        >
          {{ watchlist.number }} %
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
