h2,
h3 {
  margin-bottom: 0px;
}
::ng-deep {
  .income .p-card-body {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.mb-0 {
  display: flex;
  flex-direction: row;
  margin: 10px 10px 0px 10px;
  i {
    cursor: pointer;
  }
}
