::ng-deep{
    .notesCard {
        .p-card-content {
            padding: 0px;
        }
    }

    .note{
        background-color: #E8833A;
        color: white;
        margin-bottom: 12px;

        .p-card-body {
            padding: 1rem;
        }
        
        .p-card-content{
            padding: 0px;
        }

        h3 {
            margin-bottom: 0px;
        }
    }
}