<app-header></app-header>
<p-card class="assetsList">
  <div class="flex flex-row justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Assets</h1>
    <button
      label="Search"
      icon="pi pi-plus"
      class="p-button-secondary"
      label="Add Asset"
      pButton
      routerLink="/assets/add"
    ></button>
  </div>
  <p-table
    [value]="assetList"
    dataKey="id"
    [rows]="limit"
    [totalRecords]="totalCount"
    [lazy]="true"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    styleClass="p-datatable-customers p-datatable-gridlines"
    [paginator]="true"
    (onPage)="paginate($event)"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  >
    <ng-template pTemplate="caption">
      <div class="grid">
        <p-multiSelect
          placeholder="Status Filter"
          [options]="statusOption"
          [(ngModel)]="selectedStatus"
          [style]="{ minWidth: '100%', maxWidth: '100%' }"
          class="col-6 md:col-4 xl:col-3"
          (onChange)="filterChange()"
        ></p-multiSelect>

        <div class="col-6 md:col-4 xl:col-3">
          <p-calendar
            [(ngModel)]="selectedDate"
            selectionMode="range"
            [readonlyInput]="true"
            inputId="range"
            [style]="{ width: '100%' }"
            placeholder="Select Date Range"
            (onSelect)="changeFilterDate()"
            [showIcon]="true"
          ></p-calendar>
        </div>

        <p-multiSelect
          placeholder="Type Filter"
          optionLabel="name"
          [options]="assetTypeOption"
          [(ngModel)]="selectedAssetType"
          [style]="{ minWidth: '100%', maxWidth: '100%' }"
          class="col-6 md:col-4 xl:col-3"
          (onChange)="filterChange()"
        ></p-multiSelect>

        <p-dropdown
          placeholder="Sort By"
          optionLabel="name"
          [options]="sortOption"
          [(ngModel)]="selectedSort"
          [style]="{ minWidth: '100%' }"
          class="col-6 md:col-4 xl:col-3"
          (onChange)="filterChange()"
        ></p-dropdown>
        <p-dropdown
          placeholder="Managed By Filter"
          [style]="{ minWidth: '100%' }"
          class="col-12 sm:col-6 xl:col-3"
          [options]="sr_List"
          [(ngModel)]="selectedStaffMember"
          optionLabel="name"
          (onChange)="filterChange()"
        ></p-dropdown>
        <p-multiSelect
          placeholder="Select Partner"
          optionLabel="name"
          [options]="assetPartnerOption"
          [(ngModel)]="selectedAssetPartner"
          [style]="{ minWidth: '100%', maxWidth: '100%' }"
          class="col-6 md:col-4 xl:col-3"
          (onChange)="filterChange()"
        ></p-multiSelect>

        <p-button
          label="Clear Filter"
          class="clear lg:col-offset-3 col-6 md:col-4 xl:col-3"
          [style]="{
            minWidth: '100%',
            'background-color': 'white',
            color: 'black'
          }"
          (click)="clearFilter()"
        ></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Asset Name</th>
        <th>Asset Type</th>
        <th>Partner</th>
        <th>Total Amt.</th>
        <th>Sub. Amt.</th>
        <th>Status</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asset>
      <tr>
        <td>{{ asset.id }}</td>
        <td>{{ asset.name }}</td>
        <td>{{ asset.asset_class.name }}</td>
        <td>{{ asset.partner.name }}</td>
        <td>{{ asset.amount | number : "1.2" }}</td>
        <td>{{ asset.subscribed_amount | number : "1.2" }}</td>
        <td>{{ asset.status }}</td>
        <td>
          <button
            pButton
            type="button"
            icon="pi pi-info-circle"
            class="p-button-text p-button-rounded p-button-sm"
            [routerLink]="'/assets/list/' + asset.id"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td
          colspan="8"
          [style]="{ 'justify-content': 'center', 'text-align': 'center' }"
        >
          No Assets found.
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
<p-toast position="top-right"></p-toast>
