<link rel="stylesheet" href="https://unpkg.com/primeflex@3.1.2/primeflex.css" />

<div class="app-header-container">
  <p-menubar>
    <ng-template pTemplate="end">
      <input
        type="text"
        pInputText
        style="margin-right: 2rem"
        placeholder="Search"
      />
      <i
        id="wallet"
        class="pi pi-wallet"
        style="font-size: 2rem; margin-right: 2rem"
        [routerLink]="['/wallet']"
      ></i>

      <!-- Profile image with tooltip/card -->
      <div class="profile-tooltip">
        <img
          src="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          alt="Profile"
          width="30"
          height="30"
          class="mr-5 mt-1"
          [routerLink]="['/profile']"
        />
        <div class="tooltip-content p-card p-fluid">
          <!-- Content for the tooltip/card -->
          <div class="profile-info">
            <!-- Your header content -->

            <div id="name">
              <b>Aryan Agrawal</b>
            </div>
            <p-button
              id="logout"
              icon="pi pi-power-off"
              styleClass="p-button-rounded p-button-outlined"
            ></p-button>
          </div>
          <div>
            Funds: <span id="fund"><b>$78.89</b></span>
          </div>
          <div
            class="button-container"
            style="display: flex; justify-content: space-between"
          >
            <p-button label="Add" styleClass="p-button-outlined"></p-button>
            <p-button
              label="Withdraw"
              styleClass="p-button-outlined p-button-danger"
            ></p-button>
          </div>
          <!-- <a href="#">Logout</a> -->
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="start">
      <div style="display: flex; align-items: center">
        <a [routerLink]="['/dashboard']">
          <p-avatar
            image="https://pps.whatsapp.net/v/t61.24694-24/359737587_266686759398692_147281179015507304_n.jpg?ccb=11-4&oh=01_AdR0K6AeyL6zIQ03eI6yGQ8now_01oWw79vCg43Df4_7rA&oe=650AE9BF&_nc_sid=000000&_nc_cat=105"
            styleClass="mr-2"
            size="xlarge"
            shape="circle"
            routerLink="dashboard"
          ></p-avatar>
        </a>
        <p-menubar [model]="items"></p-menubar>
      </div>
    </ng-template>
  </p-menubar>
  <p-menu #userInfo [popup]="true" [model]="items"></p-menu>
</div>
