/* Style for the tooltip/card */
.profile-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
#wallet {
  cursor: pointer;
}
#logout {
  width: 100%;
}
.button-container {
  margin-top: 1rem;
}
.tooltip-content {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  z-index: 1;
  top: 100%;
  right: 0;
  width: 250px; /* Increase the width as needed */

  #name {
    margin-bottom: 10px;
    font-size: large;
  }
  #fund {
    color: green;
  }
}

/* Show the tooltip/card on hover */
.profile-tooltip:hover .tooltip-content {
  display: block;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  /* Adjust tooltip/card width for smaller screens */
  .tooltip-content {
    width: 100%;
    max-width: 300px; /* Adjust the max-width as needed */
  }
}

@media screen and (max-width: 480px) {
  /* Further adjustments for smaller screens */
  .tooltip-content {
    padding: 10px; /* Reduce padding for smaller screens */
  }
}
.tooltip-content.active {
  display: flex;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logout {
  width: auto; /* Remove fixed width to allow natural width */
  margin-left: 10px; /* Add margin to separate the Logout button from the name */
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
