<div class="chart-container">
  <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
</div>
<div class="labels-container">
  <div class="label-item">
    <div class="color-box" style="background-color: var(--blue-500)"></div>
    <span>Equity - 30%</span>
  </div>
  <div class="label-item">
    <div class="color-box" style="background-color: var(--blue-500)"></div>
    <span>Funds - 20%</span>
  </div>
  <div class="label-item">
    <div class="color-box" style="background-color: var(--yellow-500)"></div>
    <span>Crypto - 21%</span>
  </div>
  <div class="label-item">
    <div class="color-box" style="background-color: var(--green-500)"></div>
    <span>NFT - 29%</span>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="card-title">Current Value</div>
    <div class="card-text">$34.5<span class="green">(+2.0%)</span></div>
  </div>
  <div class="card-content">
    <div class="card-title">Invested</div>
    <div class="card-text">$20.5</div>
  </div>
  <div class="card-content">
    <div class="card-title">P&amp;L</div>
    <div class="card-text">$4.44K<span class="green">(+5.96%)</span></div>
  </div>
</div>
