/* Style for the container */
.surface-section {
  background-color: #f5f5f5;
  padding: 2rem;
  text-align: center;
}

/* Style for the title */
.font-bold.text-3xl {
  color: #333;
}

.text-blue-600 {
  color: #007bff;
}

/* Style for the feature cards */
.surface-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: inline-block;
  margin-bottom: 10px;
}

/* Style for feature card icons */
.pi {
  font-size: 4rem;
}

.text-900 {
  font-weight: 900;
}

.text-xl {
  font-size: 1.25rem;
}

.font-medium {
  font-weight: 500;
}

/* Style for the card container */
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto;
  max-width: 95%; /* Adjust the maximum width as needed */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Style for each form group */
.flex-auto {
  flex: 1;
  margin-bottom: 1rem;
}

/* Style for labels */
label {
  font-weight: bold;
}

/* Style for p-inputNumber components */
p-inputNumber {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

/* CSS for the risk meter */
.risk-meter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.risk-meter-bar {
  background-color: #f0f0f0;
  height: 20px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.risk-meter-fill {
  height: 100%;
  background-color: #00cc00; /* Green color for low risk */
  transition: width 0.3s ease-in-out;
}

.risk-levels {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

.risk-level {
  flex: 1;
  text-align: center;
}

/* Style for the risk percentage display */
.risk-percentage {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  font-size: large;
}

/* Style for the toggleButton */
.custom-toggle-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3rem;
}

.custom-toggle-button p-toggleButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 14px;
  width: auto;
  text-align: center;
}

.custom-toggle-button p-toggleButton:hover {
  background-color: #0056b3;
}
#risk-meter {
  margin-bottom: 1rem;
}
#set-goal {
  align-items: center;
  text-align: center;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .surface-section {
    padding: 1rem;
  }

  .font-bold.text-3xl {
    font-size: 2rem;
  }

  .grid {
    gap: 1rem;
  }

  .col-12 {
    width: 100%;
  }

  .flex-auto.col-4 {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  p-inputNumber {
    padding: 8px;
  }

  /* Adjust width of p-dropdown */
  .flex-auto.col-5 {
    width: 100%;
  }

  /* Center align risk meter and toggle button */
  .risk-meter {
    align-items: center;
    text-align: center;
  }

  /* Increase margin around toggle button */
  .custom-toggle-button {
    margin-top: 1rem;
  }
}
