<!-- Tab for Crypto -->
<app-header></app-header>
<h2 style="margin-top: 2rem">Top Gainers</h2>

<div class="grid">
  <!-- Display most traded cryptos -->
  <div
    class="col-12 md:col-6 lg:col-3"
    *ngFor="let crypto of mostTradedCryptos"
    [routerLink]="['/stock-details', { title: crypto.id, type: 'CRYPTO' }]"
  >
    <ng-template #inactivebox>
      <div
        style="height: 100px; background-color: #f1f5f9"
        class="surface-card shadow-2 border-round"
      >
        Loading...
      </div>
    </ng-template>
    <div class="surface-card shadow-2 p-3 border-round">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">{{ crypto.id }}</span>
          <div class="text-900 font-medium text-xl">
            {{ crypto.priceUsd | number : "1.4-4" }}
          </div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <img
            src="https://tse3.mm.bing.net/th?id=OIP.ag5nBrr4YiPHmZmBSHJypQHaHa&pid=Api&P=0&h=180"
            alt="{{ crypto.title }}"
          />
        </div>
      </div>
      <span class="text-green-500" *ngIf="crypto.isNew"
        >+{{ crypto.changePercent24Hr.to }}</span
      >
      <span class="text-green-400">
        {{ crypto.changePercent24Hr | number : "1.4-4" }}
      </span>
    </div>
  </div>
</div>
<br /><br />

<h2>Top Losers</h2>
<div class="grid">
  <ng-template #inactivebox>
    <div
      style="height: 100px; background-color: #f1f5f9"
      class="surface-card shadow-2 border-round"
    >
      Loading...
    </div>
  </ng-template>
  <!-- Display top losers cryptos -->
  <div
    class="col-12 md:col-6 lg:col-3"
    *ngFor="let loser of topLosersCryptos"
    [routerLink]="['/stock-details', { title: loser.id, type: 'CRYPTO' }]"
  >
    <div class="surface-card shadow-2 p-3 border-round">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">{{ loser.id }}</span>
          <div class="text-900 font-medium text-xl">
            {{ loser.priceUsd | number : "1.8-8" }}
          </div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-red-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <img
            src="https://img.freepik.com/premium-vector/graph-with-decrease-report-diagram-with-recession-bankruptcy-progress_186380-2009.jpg?size=626&ext=jpg&ga=GA1.2.555170104.1694094348&semt=ais"
            alt="{{ loser.title }}"
          />
        </div>
      </div>
      <span class="text-red-500">{{
        loser.changePercent24Hr | number : "1.8-8"
      }}</span>
      <!-- <span class="text-red-400"> (4.57)</span> -->
    </div>
  </div>
</div>
<br /><br />

<h2>New Listing / IPO</h2>
<div class="grid">
  <!-- Display top losers cryptos -->
  <div class="col-12 md:col-6 lg:col-3" *ngFor="let loser of topLosersCryptos">
    <div class="surface-card shadow-2 p-3 border-round">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">{{ loser.title }}</span>
          <div class="text-900 font-medium text-xl">
            {{ loser.value }}
          </div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-red-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <img
            src="https://tse3.mm.bing.net/th?id=OIP.ag5nBrr4YiPHmZmBSHJypQHaHa&pid=Api&P=0&h=180"
            alt="{{ loser.title }}"
          />
        </div>
      </div>
      <span class="text-red-500">{{ loser.percentageChange }}</span>
      <span class="text-red-400"> (4.57)</span>
    </div>
  </div>
</div>
